<!DOCTYPE html>
<html>
<head>
  <title>Chord Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main">
  <h1>Chord Generator</h1>
  <h2>Work in Progress</h2>

  <%= yield %>
</div>


</body>
</html>
